.card {
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    min-height: 10em;
    min-width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d42e12;
    border: 1px solid #eee;
    background-color: #fafafa;
    transition-duration: 0.2s;
    transition-property: all;
    margin: 2rem;
}
.card:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #d42e12;
    color: #fafafa;
    background-color: #d42e12;
}

.content {
    margin: 5px;
    background-color: inherit;
}