::-webkit-scrollbar {
    display: none;
}

.card {
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    min-width: 5rem;
    min-height: 2rem;
    height: calc(100% - 20rem);
    width: calc(100% - 18rem);
    justify-content: center;
    align-items: center;
    color: #000000;
    border: 1px solid #eee;
    background-color: #fafafa;
    transition-duration: 0.2s;
    transition-property: all;
    margin: 6rem;
    padding: 3rem;
    position: relative;
    overflow-y: auto;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.desc {
    font-size: 1.5rem;
    white-space: pre-line;
}