<div class="root">
    <div [ngClass]="{'screen': !sidebarOpen, 'screenOpen': sidebarOpen}">
        <router-outlet></router-outlet>
        <button [ngClass]="{'menu-btn': !sidebarOpen, 'menu-btn-open': sidebarOpen}" (click)="triggerSidebar()">
            <img src="assets/images/menu.png">
        </button>
    </div>
    <div class="sidebar">
        <div class="sidebar-item" [routerLink]='["/home"]'>{{ 'APP.SIDE1' | translate }}</div>
        <div class="sidebar-item" [routerLink]='["/quiz"]'>{{ 'APP.SIDE2' | translate }}</div>
        <div class="sidebar-item" [routerLink]='["/trivia"]'>{{ 'APP.SIDE3' | translate }}</div>
        <div class="sidebar-item" (click)="showModal = !showModal">{{ 'APP.SIDE4' | translate }}</div>
    </div>

    <div [ngClass]="{'modal-on': showModal, 'modal-off': !showModal}">
    <div class="modal-content">
        <span class="close" (click)="showModal = false">&times;</span>
        <form class="form" [formGroup]="languageForm" (ngSubmit)="submitClicked(languageForm.value)">
            <p>Please Select a Language:</p>
            <input type="radio" id="language" formControlName="language" value="English"> English
            <input type="radio" id="language" formControlName="language" value="Spanish"> Spanish
            <button class="sub-btn">Submit</button>
        </form>
    </div>

    </div>
</div>
