* {
    font-family: Raleway, sans-serif !important; 
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important; */
    /* Add !important to overwrite all elements */
  }

::-webkit-scrollbar {
    display: none;
}

.root {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgb(64, 110, 63);
}

.screen, .screenOpen {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(232, 231, 227);
    z-index: 1;
    position: absolute;
    left: 0rem;
    transition: left 0.5s ease;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.screenOpen {
    left: -13rem;
}

.menu-btn, .menu-btn-open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-width: 0px;
    border-radius: 50%;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    transition: right 0.5s ease;
}

.menu-btn-open {
    right: 15rem;
}

.sidebar {
    width: 13rem;
    height: 100%;
    /* background-color: rgb(149, 153, 136); */
    background-color: rgb(64, 110, 63);
    z-index: 0;
    position: absolute;
    right: 0px;
}

.sidebar-item {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    text-align: center;
    /* background-color: rgb(64, 110, 63); */
    background-color: rgb(232, 231, 227);
    color: rgb(64, 110, 63);
    /* border-top: 1px solid rgb(38, 61, 41);
    border-bottom: 1px solid rgb(38, 61, 41); */
    transition: 0.5s ease;
    font-weight: bold;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.sidebar-item:hover {
    cursor: pointer;
    /* margin: -0.5rem 0rem;
    height: 4rem; */
    /* font-weight: bolder; */
    font-size: 1.1rem;
}

.modal-off, .modal-on {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-on {
    display: block
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.modal-title {
    font-weight: bold;
}

.form {
    font-size: 1.5rem;
    color: rgb(64, 110, 63);
    justify-content: center;
}

.sub-btn {
    /* position: relative; */
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    /* color: #d42e12; */
    color: rgb(64, 110, 63);
    border: 1px solid #eee;
    background-color: #fafafa;
    transition-duration: 0.5s;
    transition-property: all;
    margin: 1rem;
    padding: 0.5rem 1rem;
}

.sub-btn:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(64, 110, 63);
    border: 1px solid rgb(38, 61, 41);
    color: #fafafa;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}